body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

.products {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products li {
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.products li img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}
